<!-- HERO -->
<div class="hero-section">
  <div class="hero-box">
    <!-- CAROUSEL -->
    <div class="carousel Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-1"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-2"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-3"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-4"></div>
        </div>
        
      </div> 
    </div>

    <script>
      // New instance of Wallop
      var slider = document.querySelector('.Wallop');
      var Wallop = new Wallop(slider);
    </script>
    
  </div>
</div>

<!-- FPS GAMES -->
<div class="box">
  <div class="row games-header fps-games-header">
    <div class="col-6 part-1">FPS Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section fps-games-section">
  <% @games.fps.order(game_group: :asc).order(long_title: :asc).each do |game| %>
     <div class="col-3 game-items">
        <div class="game-item fps-game-item">
          <%= link_to tournaments_path, class: "game-link" do  %>
            <%= image_tag game.game_img.url(:l), class: "game-image" %>
          <% end %> 
        </div>
      </div>
  <% end %>
  </div>
</div>

<!-- MOBA GAMES -->
<div class="box">
  <div class="row games-header moba-games-header">
    <div class="col-6 part-1">MOBA Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section moba-games-section">
    <% @games.moba.each do |game| %>
     <div class="col-3 game-items">
        <div class="game-item fps-game-item">
          <%= link_to tournaments_path, class: "game-link" do  %>
            <%= image_tag game.game_img.url(:l), class: "game-image" %>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- HERO GAMES -->
<div class="box">
  <div class="row games-header hero-games-header">
    <div class="col-6 part-1">Hero Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section hero-games-section">
    <% @games.hero.each do |game| %>
     <div class="col-3 game-items">
        <div class="game-item hero-game-item">
          <%= link_to tournaments_path, class: "game-link" do  %>
            <%= image_tag game.game_img.url(:l), class: "game-image" %>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- MORE GAMES -->
<div class="box">
  <div class="row games-header more-games-header">
    <div class="col-6 part-1">More Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section more-games-section">
    <% @games.more.each do |game| %>
     <div class="col-3 game-items">
        <div class="game-item more-game-item">
          <%= link_to tournaments_path, class: "game-link" do  %>
            <%= image_tag game.game_img.url(:l), class: "game-image" %>
          <% end %> 
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- SIGN IN & ACCOUNT CREATION -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Sign In | Account Creation</div>
  </div>
  <div class="row signup-section">
    <div class="row">
      <div class="col-6 sign-in-header">
        <div class="sign-in-content"> Sign In </div>
      </div>
      <div class="col-6 create-account-header">
        <div class="create-account-content"> Create Account </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 sign-in-section">
        <%= form_tag do %>
          <%= label_tag(:email, "Email or Gamertag", class: "signin-email-label form-label") %>
          <%= email_field(:user, :address, class: "signin-email-input medium form-input") %>
          <%= label_tag(:password, "Password", class: "signin-password-label form-label") %>
          <%= password_field_tag(:password, '', class: "signin-password-input medium form-input") %>
          <%= submit_tag("Log in", class: "submit-btn") %>
        <% end %>
      </div>
      <div class="col-6 create-account-section">
        <%= form_tag do %>
          <%= label_tag(:email, "Email", class: "ca-email-label form-label") %>
          <%= email_field(:user, :address, class: "ca-email-input medium form-input") %>
          <%= label_tag(:password, "Password", class: "ca-password-label form-label") %>
          <%= password_field_tag(:password, '', class: "ca-password-input medium form-input") %>
          <%= label_tag(:confirm_password, "Confirm Password", class: "confirm-ca-password-label form-label") %>
          <%= password_field_tag(:confirm_password, '', class: "confirm-ca-password-input medium form-input") %>
          <%= submit_tag("Create Account", class: "submit-btn") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- STATISTICS -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Statistics</div>
  </div>
  <div class="statistics-section">
    <div class="row">
      <div class="col-6 offset-3 statistics-catalogue-header">
        <div class="statistics-catalogue-item">
          Current Players All Consoles (Weekly Total)
        </div>
      </div>
    </div>
    <div class="row statistics-header">
      <div class="col-3 console-img">
        <div class="statistics-header-top">Xbox1</div>
        <div class="statistics-header-middle">
          <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
        </div>
      </div>
       <div class="col-3 console-img">
        <div class="statistics-header-top">PS4</div>
        <div class="statistics-header-middle">
          <%= image_tag("ps4svg1.svg", class: "logo-img", height: "100", width: "100") %>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">Steam</div>
        <div class="statistics-header-middle">
          <i class="fa fa-steam fa-4x logo-img" style="height: 100; width: 100;"></i>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">All</div>
        <div class="statistics-header-middle">
          <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col-6 offset-3 statistics-catalogue-header">
        <div class="statistics-catalogue-item">
          Most Played Games Any Console (Weekly Total)
        </div>
      </div>
    </div>
    <div class="row statistics-header">
      <div class="col-3 console-img">
        <div class="statistics-header-top">Xbox1</div>
        <div class="statistics-header-middle">
          <%= image_tag("h1img1.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
       <div class="col-3 console-img">
        <div class="statistics-header-top">PS4</div>
        <div class="statistics-header-middle">
          <%= image_tag("h1img1.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">Steam</div>
        <div class="statistics-header-middle">
          <%= image_tag("h3img1.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">All</div>
        <div class="statistics-header-middle">
          <%= image_tag("halomccimg1.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3 statistics-catalogue-header">
        <div class="statistics-catalogue-item">
          Most Played Games By Console (Weekly)
        </div>
      </div>
    </div>
    <div class="row statistics-header">
      <div class="col-3 console-img">
        <div class="statistics-header-top">Xbox1</div>
        <div class="statistics-header-middle">
          <%= image_tag("h1img2.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
       <div class="col-3 console-img">
        <div class="statistics-header-top">PS4</div>
        <div class="statistics-header-middle">
          <%= image_tag("h2img2.jpeg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">Steam</div>
        <div class="statistics-header-middle">
          <%= image_tag("h3img2.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
      <div class="col-3 console-img">
        <div class="statistics-header-top">All</div>
        <div class="statistics-header-middle">
          <%= image_tag("halomccimg1.jpg", class: "logo-game-img", height: "100", width: "100") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">
          <div class="current-players-item-top"> Current Players:</div>
          <div class="current-players-item-mid">NUMBER</div>
        </div>
        <div class="brackets-filled-item">
          <div class="brackets-filled-item-top"> Brackets Filled:</div>
          <div class="brackets-filled-item-mid">NUMBER</div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- INFORMATION -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Information</div>
  </div>
</div>

<div class="box">
  <div class="row information-section">
    <div class="row">
      <div class="col-6 info-section-header">
        <div class="info-section-item-header">Weekly Tournaments: <br></div>
        All Tournaments Start at 3pm EST! <br>
        Check-In Time Starts at 2pm EST! <br>
        Must Check-In To Compete in Tournament!
      </div>
      <div class="col-6 info-section-header">
        <div class="info-section-item-header">Nightly Tournaments: <br></div>
        All Tournaments Start at 7pm EST! <br>
        Check-In Time Starts at 6pm EST! <br>
        Must Check-In To Compete in Tournament!
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Once entered a tournament:</li>
          <div class="info-list-group">
            <li class="info-list-item">Find Teammates from the <%= link_to "Find Teammates", root_path %> page.</li>
            <li class="info-list-item">Support is available in the form of an FAQ and Live-Chat from the <%= link_to "Support", root_path %> page. </li>
            <li class="info-list-item">Updating scoring and match results from the Manager Page. </li>
            <li class="info-list-item"></li>
          </div>
        </ul>
      </div>
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Captains</li>
          <div class="info-list-group">
            <li class="info-list-item">One captain is assigned to each team automatically.</li>
            <li class="info-list-item">The captain is responsible for reporting the score and W/L after every match.</li>
            <li class="info-list-item">Captains can also initiate actions such as replacing a teammate that is MIA.</li>
            <li class="info-list-item">During Support tickets Captains are expected to help resolve the issue.</li>
          </div>
        </ul>
        
      </div>
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Payout</li>
          <div class="info-list-group">
            <li class="info-list-item">Payout is on Monday, at 8am. The winnings will be automatically debited to your account.</li>
            <li class="info-list-item">If their is a billing dispute, please contact our support team with a support ticket and they will respond to your request promptly.</li>
            <li class="info-list-item">Payment will be automatically debited to the card provided on file. </li>
            <li class="info-list-item"></li>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Once entered a tournament:</li>
          <div class="info-list-group">
            <li class="info-list-item">Find Teammates from the <%= link_to "Find Teammates", root_path %> page.</li>
            <li class="info-list-item">Support is available in the form of an FAQ and Live-Chat from the <%= link_to "Support", root_path %> page. </li>
            <li class="info-list-item">Updating scoring and match results from the Manager Page. </li>
            <li class="info-list-item"></li>
          </div>
        </ul>
      </div>
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Captains</li>
          <div class="info-list-group">
            <li class="info-list-item">One captain is assigned to each team automatically.</li>
            <li class="info-list-item">The captain is responsible for reporting the score and W/L after every match.</li>
            <li class="info-list-item">Captains can also initiate actions such as replacing a teammate that is MIA.</li>
            <li class="info-list-item">During Support tickets Captains are expected to help resolve the issue.</li>
          </div>
        </ul>
        
      </div>
      <div class="col-4">
        <ul class="info-list">
          <li class="info-list-header">Payout</li>
          <div class="info-list-group">
            <li class="info-list-item">Payout is on Monday, at 8am. The winnings will be automatically debited to your account.</li>
            <li class="info-list-item">If their is a billing dispute, please contact our support team with a support ticket and they will respond to your request promptly.</li>
            <li class="info-list-item">Payment will be automatically debited to the card provided on file. </li>
            <li class="info-list-item"></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>




