<div class="hero-section">
  <div class="hero-box">

    <div class="carousel Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-1"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-2"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-3"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-4"></div>
        </div>
        
      </div> 
    </div>

    <script>
      // New instance of Wallop
      var slider = document.querySelector('.Wallop');
      var Wallop = new Wallop(slider);
    </script>
    
  </div>
</div>


<div class="box">
  <div class="row games-header fps-games-header">
    <div class="col-6 part-1">FPS Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section fps-games-section">
   <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= link_to tournaments_path, class: "game-link" do  %>
          <%= image_tag "codbo3img1.jpg", class: "game-image" %>
        <% end %> 
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "codmwrimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "csgoimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halomccimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halo5img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halo3img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "r6simg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "destinyimg1.jpg", class: "game-image" %>
      </div>
    </div>
      <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "destinyimg1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="row games-header moba-games-header">
    <div class="col-6 part-1">MOBA Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section moba-games-section">
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "lol1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "dota2img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "smiteimg1.png", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "hotsimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "paragonimg1.jpeg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="row games-header hero-games-header">
    <div class="col-6 part-1">Hero Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section hero-games-section">
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "overwatchimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "lawbreakersimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "qcimg1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="row games-header more-games-header">
    <div class="col-6 part-1">More Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section more-games-section">
    <div class="col-3 game-items">
       <div class="game-item more-game-item">
        <%= image_tag "starcraft2img1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="header">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
  </div>
</div>


