<!-- HERO -->
<div class="hero-section">
  <div class="hero-box">
    <!-- CAROUSEL -->
    <div class="carousel Wallop">
      <div class="Wallop-list">
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-1"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-2"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-3"></div>
        </div>
        <div class="Wallop-item">
          <div class="carousel-image carousel-image-4"></div>
        </div>
        
      </div> 
    </div>

    <script>
      // New instance of Wallop
      var slider = document.querySelector('.Wallop');
      var Wallop = new Wallop(slider);
    </script>
    
  </div>
</div>

<!-- FPS GAMES -->
<div class="box">
  <div class="row games-header fps-games-header">
    <div class="col-6 part-1">FPS Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section fps-games-section">
   <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= link_to tournaments_path, class: "game-link" do  %>
          <%= image_tag "codbo3img1.jpg", class: "game-image" %>
        <% end %> 
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "codmwrimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "csgoimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halomccimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halo5img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "halo3img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "r6simg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "destinyimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "destinyimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "gow4img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
      <div class="game-item fps-game-item">
        <%= image_tag "doomimg1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<!-- MOBA GAMES -->
<div class="box">
  <div class="row games-header moba-games-header">
    <div class="col-6 part-1">MOBA Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section moba-games-section">
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "lol1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "dota2img1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "smiteimg1.png", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "hotsimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item moba-game-item">
        <%= image_tag "paragonimg1.jpeg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<!-- HERO GAMES -->
<div class="box">
  <div class="row games-header hero-games-header">
    <div class="col-6 part-1">Hero Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section hero-games-section">
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "overwatchimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "lawbreakersimg1.jpg", class: "game-image" %>
      </div>
    </div>
    <div class="col-3 game-items">
       <div class="game-item hero-game-item">
        <%= image_tag "qcimg1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<!-- MORE GAMES -->
<div class="box">
  <div class="row games-header more-games-header">
    <div class="col-6 part-1">More Games</div>
    <div class="col-6 part-2">Join a Tournament</div>
  </div>
  <div class="row games-section more-games-section">
    <div class="col-3 game-items">
       <div class="game-item more-game-item">
        <%= image_tag "starcraft2img1.jpg", class: "game-image" %>
      </div>
    </div>
  </div>
</div>

<!-- SIGN IN & ACCOUNT CREATION -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Sign In | Account Creation</div>
  </div>
  <div class="row signup-section">
    <div class="row">
      <div class="col-6 sign-in-header">
        <div class="sign-in-content"> Sign In </div>
      </div>
      <div class="col-6 create-account-header">
        <div class="create-account-content"> Create Account </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 sign-in-section">
        <%= form_tag do %>
          <%= label_tag(:email, "Email or Gamertag", class: "signin-email-label form-label") %>
          <%= email_field(:user, :address, class: "signin-email-input medium form-input") %>
          <%= label_tag(:password, "Password", class: "signin-password-label form-label") %>
          <%= password_field_tag(:password, '', class: "signin-password-input medium form-input") %>
          <%= submit_tag("Log in", class: "submit-btn") %>
        <% end %>
      </div>
      <div class="col-6 create-account-section">
        <%= form_tag do %>
          <%= label_tag(:email, "Email", class: "ca-email-label form-label") %>
          <%= email_field(:user, :address, class: "ca-email-input medium form-input") %>
          <%= label_tag(:password, "Password", class: "ca-password-label form-label") %>
          <%= password_field_tag(:password, '', class: "ca-password-input medium form-input") %>
          <%= label_tag(:confirm_password, "Confirm Password", class: "confirm-ca-password-label form-label") %>
          <%= password_field_tag(:confirm_password, '', class: "confirm-ca-password-input medium form-input") %>
          <%= submit_tag("Create Account", class: "submit-btn") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- INFORMATION -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Information</div>
  </div>
</div>

<!-- STATISTICS -->
<div class="box">
  <div class="section-header">
    <div class="section-header-content">Statistics</div>
  </div>
  <div class="statistics-section">
    <div class="row statistics-header">
      <div class="col-3 console-img">Xbox1 <br>
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">PS4 <br>
        <%= image_tag("ps4svg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">Steam <br>
        <%= image_tag("steamsvg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">All
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div> 
    </div>
    <div class="row statistics-header">
      <div class="col-3 console-img">Xbox1 <br>
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">PS4 <br>
        <%= image_tag("ps4svg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">Steam <br>
        <%= image_tag("steamsvg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">All
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div> 
    </div>
    <div class="row statistics-header">
      <div class="col-3 console-img">Xbox1 <br>
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">PS4 <br>
        <%= image_tag("ps4svg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">Steam <br>
        <%= image_tag("steamsvg1.svg", class: "logo-img", height: "100", width: "100") %>
      </div>
      <div class="col-3 console-img">All
        <%= image_tag("xb1img1.png", class: "logo-img", height: "100", width: "100") %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div>
      <div class="col-3">
        <div class="current-players-item">Current Players: <br>
          NUMBER
        </div>
        <div class="brackets-filled-item">Brackets Filled: <br>
          NUMBER
        </div>
      </div> 
    </div>
  </div>
</div>




