<div class="spacer"></div>

<div class="row">
	<div class="col-1 side-nav">
		<div class="side-navbar">Side Nav</div>
	</div>
	<div class="col-11 tourn-main">
		<div class="tourn-section tourn-fps-section">

			<div class="tourn-game-item tourn-fps-game-item">
				<div class="row tourn-game-header tourn-fps-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps tourn-img-placing">
						<%= image_tag "halomccimg1.jpg", class: "tournament-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Free <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$10 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$25 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$100 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Maps and Settings <br>
						Rules and Regulations
					</div>
				</div>
			</div>

			<div class="tourn-game-item tourn-fps-game-item">
				<div class="row tourn-game-header tourn-fps-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps tourn-img-placing">
						<%= image_tag "halomccimg1.jpg", class: "tournament-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Free <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$10 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$25 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$100 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Maps and Settings <br>
						Rules and Regulations
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-fps-section -->

		<div class="tourn-section tourn-moba-section">
			<div class="tourn-game-item tourn-moba-game-item">
				<div class="row tourn-game-header tourn-moba-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-moba tourn-img-placing">
						<%= image_tag "halomccimg1.jpg", class: "tournament-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-moba">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-moba">Free <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$10 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$25 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$100 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">Maps and Settings <br>
						Rules and Regulations
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-moba-section -->

		<div class="tourn-section tourn-hero-section">
			<div class="tourn-game-item tourn-hero-game-item">
				<div class="row tourn-game-header tourn-hero-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-hero tourn-img-placing">
						<%= image_tag "halomccimg1.jpg", class: "tournament-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-hero">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-hero">Free <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$10 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$25 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$100 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">Maps and Settings <br>
						Rules and Regulations
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-hero-section -->

		<div class="tourn-section tourn-more-section">
			<div class="tourn-game-item tourn-more-game-item">
				<div class="row tourn-game-header tourn-more-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-more tourn-img-placing">
						<%= image_tag "halomccimg1.jpg", class: "tournament-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
							<div class="prize-pool"><button> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: </div>
							<div class="brackets-filled-item">Brackets Filled: </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-more">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-more">Free <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$10 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$25 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$100 <br>
						<button>Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">Maps and Settings <br>
						Rules and Regulations
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-more-section -->


	</div><!-- col-11 tourn-main -->
</div><!-- row col-12 -->