<%= render "layouts/tourn_header" %>

<div class="row">
	<div class="col-1">
		<!-- <h3>Vert Nav</h3> -->
		<nav class="tourn-vert-nav">
		  <ul class="verticalnav">
		    <li class="dropdown">
		      <a href="#" class="active">FPS Games</a>
		      <ul>
		        <li><a href="#">MOBA Games</a></li>
		        <li><a href="#">Hero Games</a></li>
		        <li><a href="#">More Games</a></li>
		      </ul>
		    </li>
		    <li><a href="#">MOBA Games</a></li>
		    <li><a href="#">Hero Games</a></li>
		    <li><a href="#">More Games</a></li>
		    <li class="dropdown">
		      <a href="#">Dolor sit</a>
		      <ul>
		        <li><a href="#">velit </a></li>
		        <li><a href="#">Pulvinar </a></li>
		        <li><a href="#">platea </a></li>
		      </ul>
		    </li>
		  </ul>
		</nav>
		<script>
				$(document).ready(function() {
    $('.verticalnav > li > a').click(function(){
      $(this).parent().toggleClass('open')
		$(this).siblings().toggle();
	});
    	});
		</script>
	
	</div>

	<div class="col-11 tourn-main">
		<div class="tourn-section tourn-fps-section">

			<div class="tourn-game-item tourn-fps-game-item">
				<div class="row tourn-game-header tourn-fps-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-label-box">
						<div class="tourn-item-fps tourn-img-placing-fps tourn-item-1">
							<%= image_tag "halomccimg1.jpg", class: "tourn-img" %>
						</div>	
						<div class="tourn-item-game-box">
							Halo: MCC<br>
							MLG 4v4
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-console-box">
							Consoles: <br>
							<%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %>
							<%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %>
							<i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
							<i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Free <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$10 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$25 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$100 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>
			</div><!-- tourn-section tourn-fps-section -->


			<div class="tourn-game-item tourn-fps-game-item">
				<div class="row tourn-game-header tourn-fps-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item">
						<div class="tourn-item-fps tourn-img-placing-fps tourn-item-1">
							<%= image_tag "halomccimg1.jpg", class: "tourn-img" %>
						</div>	
						<div class="tourn-item-game-box">
							Halo: MCC<br>
							MLG 4v4
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-fps">
						<div class="tourn-item-console-box">
							Consoles: <br>
							<%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %>
							<%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %>
							<i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
							<i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Free <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$10 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$25 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">$100 <br>
						<button class="join-bracket-button fps-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-fps">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-fps-section -->

		<div class="tourn-section tourn-moba-section">
			<div class="tourn-game-item tourn-moba-game-item">
				<div class="row tourn-game-header tourn-moba-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item">
						<div class="tourn-item-fps tourn-img-placing-moba tourn-item-1">
							<%= image_tag "lol1.jpg", class: "tourn-img" %>
						</div>	
						<div class="tourn-item-game-box">
							Halo: MCC<br>
							MLG 4v4
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button moba-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button moba-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button moba-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button moba-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-moba">
						<div class="tourn-item-console-box">
							Consoles: <br>
							<%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %>
							<%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %>
							<i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
							<i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">Free <br>
						<button class="join-bracket-button moba-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$10 <br>
						<button class="join-bracket-button moba-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$25 <br>
						<button class="join-bracket-button moba-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">$100 <br>
						<button class="join-bracket-button moba-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-moba">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-moba-section -->

		<div class="tourn-section tourn-hero-section">
			<div class="tourn-game-item tourn-hero-game-item">
				<div class="row tourn-game-header tourn-hero-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item">
						<div class="tourn-item tourn-item-hero tourn-img-placing-hero tourn-item-1">
							<%= image_tag "overwatchimg1.jpg", class: "tourn-img" %>
						</div>	
						<div class="tourn-item-game-box">
							Halo: MCC<br>
							MLG 4v4
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button hero-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button hero-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button hero-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button hero-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-hero">
						<div class="tourn-item-console-box">
							Consoles: <br>
							<%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %>
							<%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %>
							<i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
							<i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">Free <br>
						<button class="join-bracket-button hero-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$10 <br>
						<button class="join-bracket-button hero-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$25 <br>
						<button class="join-bracket-button hero-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">$100 <br>
						<button class="join-bracket-button hero-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-hero">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-hero-section -->

		<div class="tourn-section tourn-more-section">
			<div class="tourn-game-item tourn-more-game-item">
				<div class="row tourn-game-header tourn-more-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item">
						<div class="tourn-item tourn-item-more tourn-img-placing-more tourn-item-1">
							<%= image_tag "starcraft2img1.jpg", class: "tourn-img" %>
						</div>	
						<div class="tourn-item-game-box">
							Halo: MCC<br>
							MLG 4v4
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-console-box">
							Consoles: <br>
							<%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %>
							<%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %>
							<i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
							<i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">Free <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$10 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$25 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$100 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-more-section -->

		<!-- <div class="tourn-section tourn-more-section">
			<div class="tourn-game-item tourn-more-game-item">
				<div class="row tourn-game-header tourn-more-game-header">
			    <div class="col-12 tourn-game-header-content">Halo:MCC | 4v4 MLG </div>
			  </div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-more tourn-img-placing-more">
						<%= image_tag "halomccimg1.jpg", class: "tourn-img" %>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Free</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$10</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$25</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$100</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">Total Players</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row tourn-game-item">
					<div class="col-2 tourn-item tourn-item-more">
						Halo: MCC <br>
						MLG 4v4 <br>
						Consoles: Xbox, PS4, Steam
					</div>
					<div class="col-2 tourn-item tourn-item-more">Free <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$10 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$25 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$100 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">Maps and Gametypes <br>
						Rules and Settings
					</div>
				</div>

				<div class="row">
					<div class="col-2 tourn-item tourn-item-more">
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$250</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$500</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
						<div class="tourn-item-part1">
							<div class="tourn-label">$1,000</div>
						</div>
						<div class="tourn-item-part2">
							<div class="current-players-item">Current Players: <br>
								<div class="current-players-total"><strong>Number</strong></div>
							</div>
							<div class="brackets-filled-item">Brackets Filled: <br>
								<div class="brackets-filled-total"><strong>Number</strong></div>
							</div>
							<div class="prize-pool"><button class="prize-pool-button more-button"> Prize Pool </button></div>
						</div>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
					</div>
					<div class="col-2 tourn-item tourn-item-more">
					</div>
				</div>
				<div class="row">
					<div class="col-2 tourn-item tourn-item-more">
					</div>
					<div class="col-2 tourn-item tourn-item-more">$250 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$500 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">$1,000 <br>
						<button class="join-bracket-button more-button">Join Bracket!</button>
					</div>
					<div class="col-2 tourn-item tourn-item-more">
					</div>
					<div class="col-2 tourn-item tourn-item-more">
					</div>
				</div>
			</div>
		</div><!-- tourn-section tourn-more-section with-250,500 and 1k -->


	</div><!-- col-11 tourn-main -->
</div><!-- row col-12 -->