
<div class="tourn-section tourn-fps-section">
	<% Game.all.preload(:brackets).each do |x| %>
	  <% x.brackets.each do |y| %>
	<div class="tourn-game-item tourn-fps-game-item" id="<%= y.game.short_title %>">
		<div class="row tourn-game-header tourn-fps-game-header">
	    <div class="col-12 tourn-game-header-content" ><%= y.game.long_title %> | <%= y.title %> </div>
	  </div>
		<div class="row">
			<div class="col-2 tourn-item tourn-item-label-box">
				<div class="tourn-item-fps tourn-img-placing-<%=y.game.game_type%> tourn-item-1">
					<%= image_tag y.game.game_img.url(:l), class: "tourn-img" %>
				</div>
				<div class="tourn-item-game-box">
					<%= y.game.short_title %><br>
					<%= y.title %>
				</div>
			</div>
			<div class="col-2 tourn-item">
				<div class="tourn-item-part1">
					<div class="tourn-label">Free</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button>
					</div>
				</div>
			</div>
			<div class="col-2 tourn-item">
				<div class="tourn-item-part1">
					<div class="tourn-label">$10</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item">
				<div class="tourn-item-part1">
					<div class="tourn-label">$25</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item">
				<div class="tourn-item-part1">
					<div class="tourn-label">$100</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item">
				<div class="tourn-item-part1">
					<div class="tourn-label">Total Players</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 tourn-item">
				<div class="tourn-item-console-box">
					<div class="console-img">Choose a Platform: </div>
					<% if y.console_xbox %>
					<button class="click-button-xbox">Brackets: Xbox</button>
					<% end %>
					<% if y.console_ps4 %>
					<button class="click-button-ps4">Brackets: PS4</button>
					<% end %>
					<% if y.console_steam %>
					<button class="click-button-steam">Brackets: Steam</button>
					<% end %>

					<!-- <select class="console-select" name="console-list">
					  <option class="select-option" value="all">All</option>
						<%  if y.console_xbox %>
							<option class="select-option select-option-xbox" value="xb1">Xbox</option>
						<% end %>
						<%  if y.console_ps4 %>
							<option class="select-option select-option-ps4" value="ps4">PS4</option>
						<% end %>
						<%  if y.console_steam %>
							<option class="select-option select-option-steam" value="steam">Steam</option>
						<% end %>
					</select> -->
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-buttons"> <br>
				<div class="xbox-buttons">
				<% y.bracket_pools.where(title: "Nightly Free", console: "xb1").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="ps4-buttons">
					<% y.bracket_pools.where(title: "Nightly Free", console: "ps4").each do  |z| %>
					<% cache z do %>
			      <% if current_user && z.active && (z.players.include? current_user.player) %>
			        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
			        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
			      <% elsif z.active %>
			          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
			          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
			      <% elsif z.active == false %>
			        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
			        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
			      <% end %>
					<% end %>
			    <% end %>
				</div>
				<div class="steam-buttons">
				<% y.bracket_pools.where(title: "Nightly Free", console: "steam").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-buttons">$10 <br>
				<div class="xbox-buttons">
				<% y.bracket_pools.where(title: "Nightly 10", console: "xb1").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="ps4-buttons">
				<% y.bracket_pools.where(title: "Nightly 10", console: "ps4").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="steam-buttons">
				<% y.bracket_pools.where(title: "Nightly 10", console: "steam").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-buttons">$25 <br>
				<div class="xbox-buttons">
				<% y.bracket_pools.where(title: "Nightly 25", console: "xb1").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="ps4-buttons">
				<% y.bracket_pools.where(title: "Nightly 25", console: "ps4").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="steam-buttons">
				<% y.bracket_pools.where(title: "Nightly 25", console: "steam").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-buttons">$100 <br>
				<div class="xbox-buttons">
				<% y.bracket_pools.where(title: "Nightly 100", console: "xb1").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="ps4-buttons">
				<% y.bracket_pools.where(title: "Nightly 100", console: "ps4").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
				<div class="steam-buttons">
				<% y.bracket_pools.where(title: "Nightly 100", console: "steam").each do  |z| %>
				<% cache z do %>
		      <% if current_user && z.active && (z.players.include? current_user.player) %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active %>
		          <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <div class="bracket-header"><%= z.title.capitalize %> <%= z.console.capitalize %></div>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
				<% end %>
		    <% end %>
				</div>
			</div>
			<div class="col-2 tourn-item">Maps and Gametypes <br>
				Rules and Settings
			</div>
		</div>
	</div><!-- tourn-section tourn-fps-section -->
	<% end %>
<% end %>
