<h2>Nightly Tournaments</h2>

<div class="tourn-section tourn-fps-section">
	<% Game.all.preload(:brackets).each do |x| %>
	  <% x.brackets.each do |y| %>
	<div class="tourn-game-item tourn-fps-game-item">
		<div class="row tourn-game-header tourn-fps-game-header">
	    <div class="col-12 tourn-game-header-content"><%= y.game.long_title %> | <%= y.tournament_type %> </div>
	  </div>
		<div class="row">
			<div class="col-2 tourn-item tourn-item-label-box">
				<div class="tourn-item-fps tourn-img-placing-fps tourn-item-1">
					<%= image_tag y.game.game_img.url(:l), class: "tourn-img" %>
				</div>
				<div class="tourn-item-game-box">
					<%= y.game.short_title %><br>
					<%= y.title %>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-part1">
					<div class="tourn-label">Free</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button>
					</div>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-part1">
					<div class="tourn-label">$10</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-part1">
					<div class="tourn-label">$25</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-part1">
					<div class="tourn-label">$100</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
					<div class="prize-pool"><button class="prize-pool-button fps-button"> Prize Pool </button></div>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-part1">
					<div class="tourn-label">Total Players</div>
				</div>
				<div class="tourn-item-part2">
					<div class="current-players-item">Current Players: <br>
						<div class="current-players-total"><strong>Number</strong></div>
					</div>
					<div class="brackets-filled-item">Brackets Filled: <br>
						<div class="brackets-filled-total"><strong>Number</strong></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-2 tourn-item tourn-item-fps">
				<div class="tourn-item-console-box">
					<div class="console-img">Consoles: </div>
					<div class="console-img"><%= image_tag("xb1img1.png", class: "tourn-console-img", height: "35", width: "35") %></div>
					<div class="console-img"><%= image_tag("ps4svg1.svg", class: "tourn-console-img", height: "35", width: "35") %></div>
					<div class="console-img"><i class="fa fa-steam fa-lg tourn-console-img" style="height: 20; width: 20;"></i></div>
					<div class="console-img"><i class="fa fa-globe fa-lg tourn-console-img" style="height: 20; width: 20;"></i></div>
				</div>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">Free <br>
				<% y.bracket_pools.where(title: "Nightly Free").each do  |z| %>
		      <% if z.active && (current_user.player.bracket_pools.where(nightly: true).present?) && (z.players.include? current_user.player) %>
		        <%= z.title %>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active && (current_user.player.bracket_pools.where(nightly: true).present?) %>
		          <%= z.title %>
		          <%= button_to "Switch Bracket", brackets_path, class: "bracket-button bracket-button-switch" %>
		      <% elsif z.active %>
		          <%= z.title %>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <%= z.title %>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
		    <% end %>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">$10 <br>
				<% y.bracket_pools.where(title: "Nightly 10").each do  |z| %>
		      <% if z.active && (current_user.player.bracket_pools.where(nightly: true).present?) && (z.players.include? current_user.player) %>
		        <%= z.title %>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active && (current_user.player.bracket_pools.where(nightly: true).present?) %>
		          <%= z.title %>
		          <%= button_to "Switch Bracket", brackets_path, class: "bracket-button bracket-button-switch" %>
		      <% elsif z.active %>
		          <%= z.title %>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <%= z.title %>
		        <%= button_to "Not Active bracket-button-not-active", brackets_path, class: "bracket-button" %>
		      <% end %>
		    <% end %>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">$25 <br>
				<% y.bracket_pools.where(title: "Nightly 25").each do  |z| %>
		      <% if z.active && (current_user.player.bracket_pools.where(nightly: true).present?) && (z.players.include? current_user.player) %>
		        <%= z.title %>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active && (current_user.player.bracket_pools.where(nightly: true).present?) %>
		          <%= z.title %>
		          <%= button_to "Switch Bracket", brackets_path, class: "bracket-button bracket-button-switch" %>
		      <% elsif z.active %>
		          <%= z.title %>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <%= z.title %>
		        <%= button_to "Not Active", brackets_path, class: "bracket-button bracket-button-not-active" %>
		      <% end %>
		    <% end %>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">$100 <br>
				<% y.bracket_pools.where(title: "Nightly 100").each do  |z| %>
		      <% if z.active && (current_user.player.bracket_pools.where(nightly: true).present?) && (z.players.include? current_user.player) %>
		        <%= z.title %>
		        <%= button_to "Leave Bracket", leave_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-leave" %>
		      <% elsif z.active && (current_user.player.bracket_pools.where(nightly: true).present?) %>
		          <%= z.title %>
		          <%= button_to "Switch Bracket", brackets_path, class: "bracket-button bracket-button-switch" %>
		      <% elsif z.active %>
		          <%= z.title %>
		          <%= button_to "Join Bracket", join_bracket_path(bracket_pool_id: z.id), class: "bracket-button bracket-button-join" %>
		      <% elsif z.active == false %>
		        <%= z.title %>
		        <%= button_to "Not Active", brackets_path, class: "bracket-button bracket-button-not-active" %>
		      <% end %>
		    <% end %>
			</div>
			<div class="col-2 tourn-item tourn-item-fps">Maps and Gametypes <br>
				Rules and Settings
			</div>
		</div>
	</div><!-- tourn-section tourn-fps-section -->
	<% end %>
<% end %>
