<%= form_for :session, url: session_path, html: {class: "sign-in-form"} do |form| %>

  <div class="form-field">
    <%= form.label :email, class: "signin-email-label form-label" %>
    <%= form.text_field :email, type: 'email', class: "signin-email-input medium form-input" %>
  </div>

  <div class="form-field">
    <%= form.label :password, class: "signin-password-label form-label" %>
    <%= form.password_field :password, class: "signin-password-input medium form-input" %>
  </div>

  <div class="form-field">
    <%= form.submit class: "submit-btn" %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
