<div class="form-field">
  <%= form.label :email, class: "ca-email-label form-label" %>
  <%= form.text_field :email, type: 'email', class: "ca-email-input form-input" %>
</div>

<div class="form-field">
  <%= form.label :password, class: "ca-password-label form-label" %>
  <%= form.password_field :password, class: "ca-password-input form-input" %>
</div>

<div class="form-field">
  <%= form.label :password_confirmation, class: "ca-password-label form-label" %>
  <%= form.password_field :password_confirmation, class: "ca-password-input form-input" %>
</div>
