	<div class="row current-round-row">
		<div class="col-4">
			<div class="current-roster-section">
				<ul class="my-team-list current-matchup-list">
					<li class="my-team-list-item current-matchup-list-item">Roster:</li>
					<li class="my-team-list-item current-matchup-list-item">Myself Teammate</li>
					<li class="my-team-list-item current-matchup-list-item">Teammate 1</li>
					<li class="my-team-list-item current-matchup-list-item">Teammate 2</li>
					<li class="my-team-list-item current-matchup-list-item">Teammate 3</li>
				</ul>
				<ul class="opponent-team-list current-matchup-list">
					<li class="opponent-list-item current-matchup-list-item">Roster:</li>
					<li class="opponnent-list-item current-matchup-list-item">Opponent Captain</li>
					<li class="opponnent-list-item current-matchup-list-item">Opponent 1</li>
					<li class="opponnent-list-item current-matchup-list-item">Opponent 2</li>
					<li class="opponnent-list-item current-matchup-list-item">Opponent 3</li>
				</ul>
			</div>
		</div> <!-- .col-4 -->
		<div class="col-4">
			<div class="current-score-section">
				<div class="current-round">Winners Round 3</div>
				<div class="current-scoreboard">
					<div class="team-series-score">
						Team Name: <br>
						3
					</div>
					<div class="opponent-series-score">
						Team Name: <br>
						2
					</div>
				</div>
			</div>
		</div> <!-- .col-4  -->
		<div class="col-4">
			<div class="current-matchup-section">
				<div class="current-matchup-1 current-matchup">
					<div class="current-map">Lockout</div>
					<div class="current-map-img">Lockout img</div>
					<div class="current-gametype">Oddball</div>
					<div class="current-myteam-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="current-opponent-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="score-submit">
						<%= submit_tag %>
					</div>
				</div>
				<div class="current-matchup-2 current-matchup">
					<div class="current-map">Lockout</div>
					<div class="current-map-img">Lockout img</div>
					<div class="current-gametype">Oddball</div>
					<div class="current-myteam-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="current-opponent-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="score-submit">
						<%= submit_tag %>
					</div>
				</div>
				<div class="current-matchup-3 current-matchup">
					<div class="current-map">Lockout</div>
					<div class="current-map-img">Lockout img</div>
					<div class="current-gametype">Oddball</div>
					<div class="current-myteam-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="current-opponent-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="score-submit">
						<%= submit_tag %>
					</div>
				</div>
				<div class="current-matchup-4 current-matchup">
					<div class="current-map">Lockout</div>
					<div class="current-map-img">Lockout img</div>
					<div class="current-gametype">Oddball</div>
					<div class="current-myteam-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="current-opponent-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="score-submit">
						<%= submit_tag %>
					</div>
				</div>
				<div class="current-matchup-5 current-matchup">
					<div class="current-map">Lockout</div>
					<div class="current-map-img">Lockout img</div>
					<div class="current-gametype">Oddball</div>
					<div class="current-myteam-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="current-opponent-score">
						<%= number_field(:product, :price, in: 1.0..500.0, step: 50) %>
					</div>
					<div class="score-submit">
						<%= submit_tag %>
					</div>
				</div>
			</div>
		</div>
	</div>