<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password, url: passwords_path, html: {class: "passwords-form"} do |form| %>
    <div class="text-field form-field">
      <%= form.label :email, class: "form-input" %>
      <%= form.text_field :email, type: 'email', class: "form-label" %>
    </div>

    <div class="submit-field form-field">
      <%= form.submit class: "submit-btn" %>
    </div>
  <% end %>
</div>
