<ul class="side-nav-list">
  <li class="side-nav-item"><%= link_to "Dash Home", dash_index_path, class: "side-nav-link" %></li>
  <li class="side-nav-item"><%= link_to "Gamertag", dash_gamertag_path, class: "side-nav-link" %></li>
  <li class="side-nav-item"><%= link_to "History", dash_history_path, class: "side-nav-link" %></li>
  <li class="side-nav-item"><%= link_to "Payment", dash_payment_path, class: "side-nav-link" %></li>
  <li class="side-nav-item"><%= link_to "Settings", dash_settings_path, class: "side-nav-link" %></li>
</ul>
