<div class="dashboard-container">
  <div class="row">

    <div class="col-12 dash-top-row">

    </div>
  </div>

  <div class="row">
    <div class="main-dash">
      <div class="col-3 dash-side-nav">
        <%= render "dashboards/side_nav" %>

      </div>
      <div class="col-9 dash-main-body">

        <%= form_for(@person) do |f| %>
          <%= f.label :nickname, class: "dash-label" %>
          <div class="dash-value"><%= @person.nickname %></div>
          <%= f.text_field :nickname %>
          
          <%= f.submit %>
        <% end %>

      </div>
    </div>
  </div>

</div>
