<div class="dashboard-container">
  <div class="row">

    <div class="col-12 dash-top-row">

    </div>
  </div>

  <div class="row">
    <div class="main-dash">
      <div class="col-3 dash-side-nav">
        <%= render "dashboards/side_nav" %>
      </div>
      <div class="col-9 dash-main-body">
      <%= current_user %>
      <%= current_user.id %>
      <%= current_user.email %>


      <%= form_for(@person, url: user_password_path(@person.id), method: :put) do |f| %>

        <div class="field">
          <div class="dash-label"><%= f.label :email, class: "dash-label" %></div>
          <div class="dash-value"><%= f.email_field :email, class: "dash-input" %></div>
        </div>

        <%= f.submit "Update email", class: "submit-btn" %>
      <% end %>

      <div class="field">
        <div class="dash-label">Reset Password: </div>
        <div class="label-response"><%= link_to "Reset Password Link", new_password_path %></div>
      </div>


      </div>
    </div>
  </div>

</div>
