<div class="dashboard-container">
  <div class="row">

    <div class="col-12 dash-top-row">

    </div>
  </div>

  <div class="row">
    <div class="main-dash">
      <div class="col-3 dash-side-nav">
        <%= render "dashboards/side_nav" %>
      </div>
      <div class="col-9 dash-main-body">
      <%= @user %>
      <%= @user.class %>
      <%= @user.id %>  <br> <br>
      <%= @person %>
      <%= @person.class %>
      <%= @person.id %>  <br> <br>

      <%= form_for(@person) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit %>
      <% end %>


      </div>
    </div>
  </div>

</div>
