<nav class="navbar">
  <div class="inner-nav">

    <div class="nav-left">
      <div class="nav-item logo-box">
        <%= link_to root_path, :class => "logo-link" do %>
          <i class="fa fa-cubes"></i> Mythic Gaming
        <% end %>
      </div>
    </div>

    <div class="nav-middle">
      <div class="nav-item dropdown">
        <div class="drop-btn">
          FPS Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <% @games.fps.each do |game| %>
            <div class="drop-item"><%= link_to game.short_title, brackets_path, class: "drop-item" %></div>
          <% end %>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          MOBA Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <% @games.moba.each do |game| %>
            <div class="drop-item"><%= link_to game.short_title, brackets_path, class: "drop-item" %></div>
          <% end %>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          Hero Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <% @games.hero.each do |game| %>
            <div class="drop-item"><%= link_to game.short_title, brackets_path, class: "drop-item" %></div>
          <% end %>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          More Games <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <% @games.more.each do |game| %>
            <div class="drop-item"><%= link_to game.short_title, brackets_path, class: "drop-item" %></div>
          <% end %>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          Information <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item"><%= link_to "Reddit", "https://www.reddit.com/r/MythicGaming/" %></div>
          <div class="drop-item"><%= link_to "FAQ", manager_path %></div>
          <div class="drop-item"><%= link_to "Support", manager_path %></div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          More <i class="fa fa-caret-down"></i>
        </div>
        <div class="drop-content">
          <div class="drop-item"><%= link_to "Find Teammates", manager_path %></div>
          <div class="drop-item"><%= link_to "Game Manager", manager_path %></div>
        </div>
      </div>
      <div class="nav-item dropdown">
        <div class="drop-btn">
          <%= link_to "Admin", admin_root_path %>
        </div>
        <div class="drop-content">
          <div class="drop-item">Schedule</div>
        </div>
      </div>

    </div>

    <div class="nav-right">
      <div class="nav-item">
        Sign In | Create Account
      </div>
    </div>

  </div>
</nav>
