<nav class="navbar">
  <div class="nav-container">

    <div class="nav-left">
      <div class="nav-grouping">
        <div class="nav-button logo-link"><%= link_to root_path, class: "logo-link" do %>
        	<i class="fa fa-cubes"></i> Mythic Gaming
        <% end %>
        </div>
      </div>
    </div>

    <div class="nav-middle">

     	<div class="nav-grouping">
        <div class="nav-button"><%= link_to root_path, class: "nav-button-link" do %> Games <i class="fa fa-caret-down"></i><% end %></div>
        <ul class="nav-list nav-list-mega-dropdown">
	        <div class="row">
	        	<div class="col-3">
	        		<li class="nav-list-item nav-list-item-header">FPS Games</li>
	        		<% (@fps_games || Game.fps).each do |game| %>
	          		<li class="nav-list-item">
                  <%= link_to brackets_path, class: "nav-list-item-link" do %>
                    <%= game.short_title %>
                  <% end %>
                </li>
	        		<% end %>
	        	</div>
	        	<div class="col-3">
	        	<li class="nav-list-item nav-list-item-header">MOBA Games</li>
        		<% (@moba_games || Game.moba).each do |game| %>
          		<li class="nav-list-item">
                  <%= link_to brackets_path, class: "nav-list-item-link" do %>
                    <%= game.short_title %>
                  <% end %>
                </li>
        		<% end %>
        	</div>
        	<div class="col-3">
        		<li class="nav-list-item nav-list-item-header">Hero Games</li>
        		<% (@hero_games || Game.hero).each do |game| %>
          		<li class="nav-list-item">
                  <%= link_to brackets_path, class: "nav-list-item-link" do %>
                    <%= game.short_title %>
                  <% end %>
                </li>
        		<% end %>
        	</div>
        	<div class="col-3">
        		<li class="nav-list-item nav-list-item-header">More Games</li>
        		<% (@more_games || Game.more).each do |game| %>
          		<li class="nav-list-item">
                  <%= link_to brackets_path, class: "nav-list-item-link" do %>
                    <%= game.short_title %>
                  <% end %>
                </li>
        		<% end %>
        	</div>
	        </div>
        </ul>
      </div>

    <% if joined_bracket %>
    <div class="nav-grouping">
      <div class="nav-button"><%= link_to manager_path(bracket_pool_id: current_player_bracket_pool_nightly), class: "nav-button-link nav-button-manager-link" do %>Manager<% end %></div>
      <ul class="nav-list">
        <li class="nav-list-item">
          <% if current_player_bracket_pool_nightly %>
            <%= link_to manager_path(bracket_pool_id: current_player_bracket_pool_nightly), class: "nav-button-link nav-button-manager-link" do %>Nightly Bracket:
              <% current_user.player.bracket_pools.where(active: true, nightly: true).each do |x| %>
                <%= x.bracket.game.short_title %>
                <%= x.bracket.title %>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <% if current_player_bracket_pool_weekly %>
        <li class="nav-list-item">
          <%= link_to manager_path(bracket_pool_id: current_player_bracket_pool_weekly), class: "nav-button-link nav-button-manager-link" do %>Weekly Bracket:
            <% current_user.player.bracket_pools.where(active: true, weekly: true).each do |x| %>
              <%= x.bracket.game.short_title %>
              <%= x.bracket.title %>
            <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

      <div class="nav-grouping">
        <div class="nav-button"><%= link_to root_path, class: "nav-button-link" do %>Information <i class="fa fa-caret-down"></i><% end %></div>
        <ul class="nav-list">
        	<li class="nav-list-item"><%= link_to "Tournament Basics", tournament_basics_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Statistics", statistics_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Reddit", "https://www.reddit.com/r/MythicGaming/", class: "nav-list-item-link", target: "_blank" %></li>
          <li class="nav-list-item"><%= link_to "FAQ", faq_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Support", root_path, class: "nav-list-item-link" %></li>
        </ul>
      </div>

      <% if current_user && current_user.admin %>
      <div class="nav-grouping">
        <%# if current_user && current_user.admin == true %>
          <div class="nav-button"><%= link_to "Admin", admin_root_path, class: "nav-button-link" %></div>
        <%# end %>
      </div>
      <% end %>

    </div>



    <div class="nav-right">
      <div class="nav-grouping">
        <% if signed_in? %>
          <div class="nav-button"><%= link_to dash_main_path, class: "nav-button-link" do %><%= current_user.email %><% end %></div>
          <ul class="nav-list">
            <li class="nav-list-item"><%= link_to "Dashboard", dash_main_path, class: "nav-list-item-link" %></li>
            <li class="nav-list-item"><%= link_to "Sign out", sign_out_path, method: :delete, class: "nav-list-item-link" %></li>
          </ul>
        <% else %>
          <div class="nav-button"><%= link_to "Sign in", sign_in_path, class: "nav-button-link" %></div>
        <% end %>
      </div>
    </div>

  </div>
</nav>
