<nav class="navbar">
  <div class="nav-container">

    <div class="nav-left">
      <div class="nav-grouping">
        <div class="nav-button logo-link"><%= link_to root_path, class: "logo-link" do %>
        	<i class="fa fa-cubes"></i> Mythic Gaming
        <% end %>
        </div>
      </div>
    </div>

    <div class="nav-middle">

     	<div class="nav-grouping">
        <div class="nav-button"><%= link_to root_path, class: "nav-button-link" do %> Games <i class="fa fa-caret-down"></i><% end %></div>
        <ul class="nav-list nav-list-mega-dropdown">
	        <div class="row">
	        	<div class="col-3">
	        		<li class="nav-list-item nav-list-item-header">FPS Games</li>
	        		<% Game.fps.each do |game| %>
	          		<li class="nav-list-item"><%= link_to brackets_path, class: "nav-list-item-link" do %><%= game.short_title  %><% end %></li>
	        		<% end %>
	        	</div>
	        	<div class="col-3">
	        	<li class="nav-list-item nav-list-item-header">MOBA Games</li>
        		<% Game.moba.each do |game| %>
          		<li class="nav-list-item"><%= link_to game.short_title, brackets_path, class: "nav-list-item-link" %></li>
        		<% end %>
        	</div>
        	<div class="col-3">
        		<li class="nav-list-item nav-list-item-header">Hero Games</li>
        		<% Game.hero.each do |game| %>
          		<li class="nav-list-item"><%= link_to game.short_title, brackets_path, class: "nav-list-item-link" %></li>
        		<% end %>
        	</div>
        	<div class="col-3">
        		<li class="nav-list-item nav-list-item-header">More Games</li>
        		<% Game.more.each do |game| %>
          		<li class="nav-list-item"><%= link_to game.short_title, brackets_path, class: "nav-list-item-link" %></li>
        		<% end %>
        	</div>
	        </div>
        </ul>
      </div>

      <div class="nav-grouping">
        <div class="nav-button"><%= link_to root_path, class: "nav-button-link" do %>Information <i class="fa fa-caret-down"></i><% end %></div>
        <ul class="nav-list">
        	<li class="nav-list-item"><%= link_to "Tournament Basics", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Manager Page", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Reddit", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "FAQ", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Support", manager_path, class: "nav-list-item-link" %></li>
        </ul>
      </div>
      <div class="nav-grouping">
        <div class="nav-button"><%= link_to root_path, class: "nav-button-link" do %>More <i class="fa fa-caret-down"></i><% end %></div>
        <ul class="nav-list">
          <li class="nav-list-item"><%= link_to "Statistics", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Mythic Halo", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "About us", manager_path, class: "nav-list-item-link" %></li>
          <li class="nav-list-item"><%= link_to "Support", manager_path, class: "nav-list-item-link" %></li>
        </ul>
      </div>
      <div class="nav-grouping">
        <%# if current_user && current_user.admin == true %>
          <div class="nav-button"><%= link_to "Admin", admin_root_path, class: "nav-button-link" %></div>
        <%# end %>
      </div>
    </div>
    

    <div class="nav-right">
    <div class="nav-grouping">
    	<div class="nav-button"><%= link_to "Admin", admin_root_path, class: "nav-button-link" %></div>
    </div>

  </div>
</nav>
