<!DOCTYPE html>
<html>
  <head>
    <title>MythicApp1</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", params[:controller], :media => "all", 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
  	<div class="full-body">
  		<%= render 'layouts/header' %>
  		<div class="main-body">

      <div class="box">
        <div id="flash">
          <% flash.each do |key, value| %>
            <div class="alert <%= key %>">
              <div class="alert-content"><%= value %></div>
              <a href= "#" class="alert-close close" onclick="return false;"> &times; </a>
            </div>
          <% end %>
        </div>
      </div>

    		<%= yield %>
    	</div>
    	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
